@{
    ViewBag.Title = "Contacts";
}
<style>
    .containers {
        width: 1170px;
        margin: 0 auto;
    }

    h2 {
        font-size: 60px;
        font-family: "Cormorant";
        text-align: center;
        margin: 30px 2px 5px 0px;
    }

    li {
        list-style-type: none;
    }

    .contacts2 {
        display: flex;
        align-items: center;
        margin: 351px 2px 5px 288px;
        position: absolute;
        padding: 10px;
    }

    .contacts1 {
        margin: 112px 2px 5px 281px;
        position: absolute;
        padding: 10px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    iframe {
        margin: 110px 10px 10px 580px;
        position: absolute;
    }

    a:hover {
        color: pink;
    }
</style>
<footer id="footer" class="footer">
    <div class="containers">
        <div class="contact">
            <h2>
                Ми завжди поруч
            </h2>

            <ul class="contacts1">
                <li><a href="#">CONTACTS</a></li>
                <li>
                    <a href="tel:+380992357967" class="telephone">
                        +38(099) 235 7967
                    </a>
                </li>
                <li>
                    <a href="#">nastuly72@gmail.com</a>
                </li>
                <li>
                    <a href="#">Monday - Sunday</a>
                </li>
                <li>
                    <a href="#">9:00-21:00</a>
                </li>
            </ul>
            <ul class="contacts2">
                <li>
                    <a href="https://www.instagram.com/as.ssyaa/">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-telegram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81287.95200160607!2d30.47305311332895!3d50.45509708237864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cef7d1d022c1%3A0xb7a252dec1bcf5bf!2sLook%20to%20Go!5e0!3m2!1sru!2sus!4v1666817070419!5m2!1sru!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</footer>
