@model CartViewModel


<div class="modal fade" id="payment" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="PostOrder" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Підтвердження замовлення</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                   
                    <div class="form-group">
                        <label asp-for="Order.Name" class="control-label"></label>
                        <input placeholder="Your name" asp-for="Order.Name" class="form-control" />
                        <span asp-validation-for="Order.Name" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Order.PhoneNumber" class="control-label"></label>
                        <input placeholder="Format: 097-742-5119" asp-for="Order.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Order.PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Order.ExecutionDate" class="control-label"></label>
                        <input type="datetime-local" asp-for="Order.ExecutionDate" class="form-control" />
                        <span asp-validation-for="Order.ExecutionDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Performer</label>
                        <select asp-for="Order.Employee" class="form-control">
                            <option value="0">Оберіть тренера</option>
                            <option>Тренер №1</option>
                            <option>Тренер №2</option>
                            <option>Тренер №3</option>
                        </select>
                        <span asp-validation-for="Order.Employee" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Order.Comments" class="control-label"></label>
                        <textarea asp-for="Order.Comments" class="form-control" />
                        <span asp-validation-for="Order.Comments" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Payment Type</label>
                        <select asp-for="Order.PaymentType" class="form-control">
                            <option value="0">Choose a payment type</option>
                            <option>Картка</option>
                            <option>Готівка</option>
                        </select>
                        <span asp-validation-for="Order.PaymentType" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Припинити запис</button>
                    <button type="submit" class="btn btn-primary" data-save="modal">Зберегти</button>
                </div>

            </form>
        </div>
    </div>
</div>
